<% if user_signed_in? %>
<h2>ログイン済み</h2>
<% else %>
<div class="center jumbotron">

  <h2>
    インターンシップの課題プログラムのページです。
  </h2>

  <%= link_to "Sign up", new_user_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>