<%= form_for(current_user.add_skill.build) do |f| %>
  <div><%= hidden_field_tag :skill_id, skill.id %></div>
  <div><%= hidden_field_tag :user_id, @user.id %></div>
  <%= f.submit "+1", class: "btn btn-primary btn-large" %>
<% end %>